---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Onemorelight20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"728f112c39349540bef465606bb7ff712c8fd63ebb2076064051c46f052f2d70"
      Last-Modified:
      - Fri, 13 May 2022 10:09:43 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1660741589'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Onemorelight20","id":59699355,"node_id":"MDQ6VXNlcjU5Njk5MzU1","avatar_url":"https://avatars.githubusercontent.com/u/59699355?v=4","gravatar_id":"","url":"https://api.github.com/users/Onemorelight20","html_url":"https://github.com/Onemorelight20","followers_url":"https://api.github.com/users/Onemorelight20/followers","following_url":"https://api.github.com/users/Onemorelight20/following{/other_user}","gists_url":"https://api.github.com/users/Onemorelight20/gists{/gist_id}","starred_url":"https://api.github.com/users/Onemorelight20/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Onemorelight20/subscriptions","organizations_url":"https://api.github.com/users/Onemorelight20/orgs","repos_url":"https://api.github.com/users/Onemorelight20/repos","events_url":"https://api.github.com/users/Onemorelight20/events{/privacy}","received_events_url":"https://api.github.com/users/Onemorelight20/received_events","type":"User","site_admin":false,"name":"Bohdan
        Boretskyi","company":null,"blog":"","location":"Ukraine","email":null,"hireable":null,"bio":"big
        data ?","twitter_username":null,"public_repos":21,"public_gists":0,"followers":1,"following":0,"created_at":"2020-01-09T15:28:49Z","updated_at":"2022-05-13T10:09:43Z"}'
  recorded_at: Wed, 17 Aug 2022 12:17:40 GMT
recorded_with: VCR 6.1.0
