<div class="container pt-3">
<h1><%= "User #{@user.username}" %></h1>
<hr>
<%= link_to "Remove", user_path(@user), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
}, class: "btn btn-dark mx-0" %>
<hr>
<h3>Repositories:</h3>
<% @user.repositories.each do |repository| %>
  <p>
    <%= repository.title %>
  </p>
<% end %>
<hr>
<%= link_to "All saved users", users_path, class: "btn btn-dark mx-0" %>
<hr>
</div>
